apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: artisan-app-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/use-regex: "true"

spec:
  ingressClassName: nginx # Specifies the Ingress Controller to use
  rules:

  # If you want to use Nginx ingress controller but don’t yet have a custom domain name (DNS), you should remove the host: parameter from your Ingress YAML so that it can use the ELB domain name.
  # If you want to match all hosts, the right way is to omit the host: field entirely.

  # - host: myapp.example.com   
  - http:
      paths:
      # Grafana
      - path: /grafana(/|$)(.*)
        pathType: ImplementationSpecific  # ✅ Changed from Prefix
        backend:
          service:
            name: monitoring-grafana
            port:
              number: 80

      # Prometheus
      - path: /prometheus(/|$)(.*)
        pathType: ImplementationSpecific  # ✅ Changed from Prefix
        backend:
          service:
            name: monitoring-kube-prometheus-prometheus
            port:
              number: 9090

      # Main app
      - path: /(.*)
        pathType: ImplementationSpecific  # ✅ Changed from Prefix
        backend:
          service:
            name: artisan-app-svc
            port:
              number: 80